body {
	background-color: #22201e;
	margin: 0px;
	text-align: center;
}
canvas{
	background-color: #444;
	box-shadow: -5px 5px 15px #111;
	margin: 50px 0px 40px 0px;
}
#sprites {
	height: 0px;
	width: 0px;
	display: inline-block;
	overflow: hidden;
}