body {
	background-color: #22201e;
	margin: 0px;
}
#background {
	float: left;
}
#gamescreen {
	box-shadow: -5px 5px 15px #111;
}
#sprites {
	height: 0px;
	width: 0px;
	display: inline-block;
	overflow: hidden;
}
#wrapcanvas {
	position: fixed;
}